.item {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  border: 3px solid rgba(255,255,255,0.1);
}

.item > img {
  flex: 1;
  max-height: 250px;
}

.item > button {
  flex: 0.5;
}
