body {
  background-color: rgb(100, 100, 100);
  color: rgb(200, 200, 200);
}

h1 {
  line-height: 0;
  margin-bottom: 15px;
}
header {
  text-align: right;
}
small {
  color: rgb(150, 150, 150);
}

#root {
  height: 100%;
  min-height: 90vh;
}

.App {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  min-height: 90vh;
}

.banners {
  width: 520px;
}

footer {
  justify-self: bottom;
}

footer > ul {
  display: flex;
  gap: 2em;
  list-style: none;
  font-size: 0.8em;
}

footer > li {
  text-decoration: none;
}

a,
a:visited {
  color: rgb(200, 200, 200);
  text-decoration: none;
  padding: 0.5em;
  border-radius: 5%;
}

a:hover {
  background-color: rgb(200, 200, 200);
  color: rgb(100, 100, 100);
}
