body {
  background-color: beige;
}

#root {
  height: 100%;
  min-height: 90vh;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  min-height: 90vh;
}

.banners {
  width: 520px;
}
